* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.left-side {
  display: flex;
  align-items: center;
}

.immagine-logo {
  max-height: 60px;
}

.list-decoration {
  list-style: none;
  display: flex;
  justify-content: center;
}

.no-decoration {
  text-decoration: none;
}

.list-decoration > li {
  padding: 0 10px;
}

.list-decoration li a {
  color: gray;
}

.list-decoration li a:hover {
  color: black;
}

#bottone {
  border: 1px solid #EE5A94;
  border-radius: 25px;
  padding: 10px 15px;
  background-color: #EE5A94;
  color: white;
}
