* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  background-color: red;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.immagine-logo {
  max-height: 60px;
}

.list-decoration {
  list-style: none;
  display: flex;
  justify-content: center;
}

.no-decoration {
  text-decoration: none;
}

.list-decoration > li {
  padding: 0 10px;
}

.list-decoration li a {
  color: gray;
}

.list-decoration li a:hover {
  color: black;
}
